# Set keyboard map
setxkbmap -layout br -variant abnt2

# Set HDMI configuration
./.dwm/config_monitors.sh

# Running status bar
./.dwm/dwm-bar/dwm_bar.sh &

# Setting background image
~/.fehbg &

# Hides mouse when idle
unclutter &

# Notification server
dunst &

# Battery watcher
.myprograms/critical_battery_notifier &
